<?xml version="1.0"?>
<launch>
  <arg name="default_prompt" default=""/>
  <arg name="run_rviz" default="true"/>

  <rosparam command="load" file="$(find gem_perception)/config/perception.yaml"/>

  <node name="gem_perception_yolo" pkg="gem_perception" type="yolo_perception_node.py" output="screen">
    <param name="default_prompt" value="$(arg default_prompt)"/>
  </node>

  <node name="map_tf_broadcaster" pkg="gem_perception" type="map_tf_broadcaster.py" output="screen"/>

  <node name="bev_overlay" pkg="gem_perception" type="bev_overlay_node.py" output="screen"/>

  <node if="$(arg run_rviz)" name="rviz_perception" pkg="rviz" type="rviz"
        args="-d $(find gem_perception)/rviz/perception.rviz"/>
</launch>
